html, body {
    margin: 0;
    padding: 0;
    font-size: 23px;
    text-indent: 40px;
    color: black;
    background-color: #E4D9C4;
}

#wrapper {
    margin: auto;
    padding: 50px;
    width: 1100px;
    min-height: 885px;
    background-color: #EAE3D6;
}

#contents {
    margin: 50px;
}

#contacts {
    margin-top: 100px;
    color: #2B50DE;
    text-align: center;
}

#contacts .btn{
    width: 300px;
    margin: auto;
}

#contacts .form-control-plaintext {
    width: 400px;
}

#toMain {
    margin-top: 50px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #2B2B2B;
    font-style: italic;
}

a:hover {
    text-decoration: none;
    color: #FF3537;
    font-weight: bold;
}