#image_1 {
    float: right;
    margin: 15px;
}

#form_1 {
    margin: auto;
    width: 500px;
}

.form-group {
    margin-bottom: 5px;
}

label {
    margin-left: 30px;
}

input[type="submit"] {
    margin: 20px 0 40px 0;
}

.list-group {
    margin-bottom: 100px;
}

#conclusion {
    text-align: center;
}

.list-group-item-info {
    color: #2B50DE;
    border: 1px solid #2B50DE;
}