#search {
    max-width: max-content;
    margin-left: auto;
    margin-right: 0;
    padding-bottom: 15px;
}

#search input {
    font-size: 20px;
    margin: 10px;
}

.searchResults {
    background-color: #EADBF0;
    text-align: right;
}

#menu {
    min-width: 400px;
    max-width: 460px;
    margin: 20px;
    float: left;
}

#menu .btn-secondary {
    padding-right: 100px;
    text-align: left;
}

#menu a:hover {
    font-weight: normal;
    color: #FF3537;
}

#image_1 {
    float: right;
    width: 300px;
    margin: 15px;
}