{% block footer %}
    <div id="contacts">
        <h4>Contacts</h4>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="https://github.com/EugeneOwl" class="btn btn-secondary">Github</a>
            <input type="text" readonly class="btn form-control-plaintext" value="eugenevaleska1994@gmail.com">
            <a href="https://www.facebook.com/" class="btn btn-secondary">Facebook</a>
        </div>
    </div>
{% endblock %}