{% block search %}
    <div id="search">
        <form method="POST" class="form-inline">
            <input type="text" class="form-control" placeholder="Pattern">
            <button type="submit" class="btn btn-sm btn-primary">Search</button>
        </form>
    </div>
{% endblock %}