<div>
    <label for="codearea">Code</label>
    <textarea name="code" id="codearea" cols="30" rows="10" pettern = "((.){5,})"></textarea>
</div>
<div>
    <label for="outputarea">Output</label>
    <textarea name="output" id="outputarea" cols="30" rows="10"></textarea>
</div>
<div>
    <input type="submit" value="cancel" name="code_create_cancel">
    <input type="submit" value="create" name="code_create_ok">
</div>

{{ (was_code_created) ? 'Code was created' : '' }}