{% extends "baseAdmin.tpl.twig" %}

{% block contents %}
    <form method="POST">
        <input type="submit" value="Go to dev." name="switcher">
    </form>

    <ol>
        {% for code in codes %}
            <li>
            <pre>
                <div class="code">
{{ code.coloredCode|raw }}
                </div>
            </pre>

                <p>
                    {{ code.0 }}
                </p>
                {% for key in code|keys %}
                    {% if key != 'output' and key != 'coloredCode' and key|number_format != key %}
                        {% set listKey = key %}
                        <div class="list-group">
                            <ul>
                                {% for element in code[listKey] %}
                                    <li class="list-group-item flex-column align-items-start">
                                        {{ element }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endfor %}
            </li>
        {% endfor %}
    </ol>

{% endblock %}