{% extends "baseAdmin.tpl.twig" %}

{% block contents %}
    <form method="POST">
        <input id="switcher" type="submit" value="Go to dev." name="switcher" class="btn btn-danger">
    </form>

    <ol>
        {% for code in codes %}
            <li>
            <pre>
                <div class="code">
{{ code.coloredCode|raw }}
                </div>
            </pre>
        {% if code.output != '' %}
            <pre>
                <div class="code">
{{ code.output|raw }}
                </div>
            </pre>
        {% endif %}

                {% for key in code|keys %}
                    {% if key|number_format == key %}
                        <p>
                            {{ code[key] }}
                        </p>
                    {% endif %}
                {% endfor %}
            </li>
        {% endfor %}
    </ol>

{% endblock %}