{% extends "baseAdmin.tpl.twig" %}

{% block contents %}
    <form method="POST" id="adminPassword">
        <input id="password" type="password" name="admin_password" placeholder="password" class="form-control">
    </form>
    <form method="POST" id="adminDevButton">
        <input id="switcher" type="submit" value="Go to dev." name="switcher" class="btn btn-danger" disabled>
    </form>

    <ol>
        {% for code in codes %}
            <li>
            <pre>
                <div class="code">
{{ code.coloredCode|raw }}
                </div>
            </pre>
        {% if code.output != '' %}
            <pre>
                <div class="code">
{{ code.output|raw }}
                </div>
            </pre>
        {% endif %}

                {% for key in code|keys %}
                    {% if key|number_format == key %}
                        <p>
                            {{ code[key] }}
                        </p>
                    {% endif %}
                {% endfor %}
            </li>
        {% endfor %}
    </ol>

{% endblock %}

{% block javascripts %}
    <script src="design/js/adminPasswordEnter.js"></script>
    {% if admin_access %}
        <script src="design/js/adminAccess.js"></script>
    {% endif %}
{% endblock %}
