<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../design/css/base.css">
    <title>Demo</title>
</head>
<body>
    <h1>The beginning</h1>
</body>
</html>